*.pdf
.DS_Store
dist/
build/
*.pyc
*.csv
*.db
.ipynb_checkpoints/
*.class
journals/
**to_ignore/
**src/config.py
*.sh
book_data.py
java_book_logger/.DS_Store
java_book_logger/externals/
java_book_logger/.vscode/
java_book_logger/target/
