*.pdf
.DS_Store
.vscode/
dist/
build/
*.pyc
*.csv
*.db
.ipynb_checkpoints/
*.class
journals/
**to_ignore/
**src/config.py
*.sh
book_data.py
**sql_scripts/*
**sql_scripts/procedures/
Lib/
etc/
Include/
Scripts/
share/
GoogleConnection/resources/*
**venv/*
*.ipynb