[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
sklearn = "*"
statsmodels = "*"
seaborn = "*"
jupyterlab = "*"
mysql = "*"
scikit-learn = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.8"
